/* AI Engagement Section */

.container {
    /* Arrangement */
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 3rem;
    
    /* Properties */
    width: 100%;
    padding: 4rem 2rem;
}

.chat_box_container {
    /* Properties */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.prompt_text {
    font-family: var(--primary-font);
    color: var(--highlight);
    font-size: 1.8rem;
}

.prompt_box_container {
    display: flex;
    margin-top: 2rem;
}

.prompt_box {
    /* Properties */
    width: 30rem;
    height: 2rem;
    height: auto;
    border-radius: var(--radius);
    box-sizing: border-box;
    border: 1px solid var(--accent);
    padding: 1.5rem 0.25rem;
        
    /* Arrangement */
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.prompt_box:hover {
    box-shadow: 0 0.1rem 0.5rem var(--accent);
}

/* Mobile */

@media (max-width: 768px) {
    .prompt_box_container {
        flex-direction: column;
        gap: 3rem;
    }
}

/* Desktop & Tablet */

@media (min-width: 769px) {
    .prompt_box_container {
        flex-direction: row;
        gap: 5rem;
    }
}