/* Project Page Styles */

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10rem;
}

/* Mobile */

@media (max-width: 768px) {
    .container {
        gap: 5rem;
    }
}

/* Desktop & Tablet */

@media (min-width: 769px) {
    .container {
        gap: 10rem;
    }
}