/* Main Page Navigation Styles */
.container {
    /* Positioning */
    width: 100%;
    height: 100%;
    /* Properties */
    overflow: hidden;
    /* Arrangement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    /* background-color: red; */
}

.section_text {
    font-family: var(--primary-font);
    font-size: 2rem;
    margin: 0;
    color: #00000060;
    padding-left: 3rem;
}

.link_text {
    font-family: var(--primary-font);
    color: var(--primary);
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    padding-left: 3rem;
}

.link_text:hover {
    opacity: var(--hover-opacity);
}

/* Mobile */
@media (max-width: 768px) {
}

/* Desktop & Tablet */
@media (min-width: 769px) {
}
