/* Chat Page Styles */
.chat_page {
    width: 100vw;
    height: 100dvh;
    display: flex;
}

.chat_container {
    position: relative;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.chat_container.disappear {
    display: none;
}

.canvas_container {
    position: relative;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.canvas_container.disappear {
    display: none;
}

.nav_page {
    transition: transform 0.3s ease-in-out;
}

.icon_container {
    /* Position */
    position: fixed;

    /* Properties */
    z-index: var(--z-index-navbar);
    border-radius: var(--radius);
    width: 4rem;
    height: 4rem;
    cursor: pointer;

    /* Arrangement */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_container:hover {
    background-color: var(--accent);
}

.icon {
    /* Properties */
    color: var(--primary);
    height: 2.5rem;
    width: 2.5rem;
}

/* Mobile */
@media (max-width: 768px) {
    .nav_icon_container {
        opacity: 0.25;
        top: 1rem;
        left: 1rem;
    }

    .nav_page.open {
        width: 100vw;
        transform: translateX(0);
    }

    .nav_page.closed {
        display: none;
        width: 0;
        transform: translateX(-100%);
    }

    .chat_container.hide {
        width: 0;
        overflow: hidden;
        opacity: 0;
    }

    .chat_container.show {
        width: 100vw;
        opacity: 1;
    }

    .canvas_container.open {
        width: 100vw;
        transform: translateX(0);
        opacity: 1;
    }

    .canvas_container.closed {
        width: 0;
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Desktop & Tablet */
@media (min-width: 769px) {
    .nav_icon_container {
        top: 2rem;
        left: 2rem;
    }

    .nav_page.open {
        width: 20vw;
        transform: translateX(0);
    }

    .nav_page.closed {
        display: none;
        width: 0;
        transform: translateX(-100%);
    }

    .chat_container.hide {
        width: 50vw;
        flex-shrink: 0;
    }

    .chat_container.show {
        width: 100vw;
        flex-shrink: 0;
    }

    .canvas_container.open {
        width: 50vw;
        flex-shrink: 0;
        transform: translateX(0);
        opacity: 1;
    }

    .canvas_container.closed {
        width: 0;
        transform: translateX(100%);
        opacity: 0;
    }
}