/* Chat Page Styles */
.chat_page {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.chat_container {
    transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

.canvas_container {
    transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

.icon_container {
    /* Position */
    position: fixed;

    /* Properties */
    z-index: var(--z-index-navbar);
    border-radius: var(--radius);
    width: 4rem;
    height: 4rem;
    cursor: pointer;

    /* Arrangement */
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon_container:hover {
    background-color: var(--accent);
}

.icon {
    /* Properties */
    color: var(--primary);
    height: 2.5rem;
    width: 2.5rem;
}

/* Mobile */
@media (max-width: 786px) {
    .nav_icon_container {
        opacity: 0.25;
        top: 1rem;
        left: 1rem;
    }

    .canvas_icon_container {
        opacity: 0.25;
        top: 1rem;
        right: 1rem;
    }

    .chat_container.open {
        width: 0;
        opacity: 0;
    }

    .chat_container.closed {
        width: 100%;
        opacity: 1;
    }

    .canvas_container.open {
        width: 100%;
        opacity: 1;
    }

    .canvas_container.closed {
        width: 0;
        opacity: 0;
    }
}

/* Desktop & Tablet */
@media (min-width: 786px) {
    .nav_icon_container {
        top: 2rem;
        left: 2rem;
    }

    .canvas_icon_container {
        top: 2rem;
        right: 2rem;
    }

    .chat_container.open {
        width: 50%;
    }

    .chat_container.closed {
        width: 100%;
    }

    .canvas_container.open {
        width: 50%;
        opacity: 1;
    }

    .canvas_container.closed {
        width: 0;
        opacity: 0;
    }
}