/* Main Page Styles */
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out;
}

.nav_page {
    /* padding-left: 2rem; */
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

/* Mobile */
@media (max-width: 786px) {

    .mainPage.show {
        width: 100vw;
    }

    .mainPage.hide {
        width: 0;
        overflow: hidden;
        padding: 0;
    }

    .nav_page.open {
        width: 100vw;
        transform: translateX(0);
    }

    .nav_page.closed {
        width: 0;
        transform: translateX(-100%);
    }
}

/* Desktop & Tablet */
@media (min-width: 786px) {

    .nav_page.open {
        width: 20vw;
        transform: translateX(0);
    }

    .nav_page.closed {
        width: 0;
        transform: translateX(-100%);
    }
}