/* Privacy Page Styles */
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

/* Main Containers */

.privacy_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 7.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out;
}

.nav_page {
    transition: transform 0.3s ease-in-out;
}

/* Page Styles */

.privacy_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    gap: 3rem;
}

.updated_text {
    font-family: var(--primary-font);
    color: var(--highlight);
    font-weight: bold;
    line-height: auto;
    margin: 0;
}

.heading {
    font-family: var(--primary-font);
    color: var(--primary);
    font-weight: bold;
    line-height: auto;
}

.body {
    font-family: var(--primary-font);
    color: var(--primary);
    margin: 0;
}

.body li {
    margin-left: 5rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .updated_text {
        font-size: 1.6rem;
    }

    .heading {
        font-size: 2.8rem;
        margin: 3rem 0;
    }

    .body {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .content {
        width: 90%;
    }

    .spacing {
        margin-bottom: 3rem;
    }

    .privacy_page.show {
        width: 100vw;
    }

    .privacy_page.hide {
        width: 0;
        overflow: hidden;
        padding: 0;
    }

    .nav_page.open {
        width: 100vw;
        transform: translateX(0);
    }

    .nav_page.closed {
        width: 0;
        transform: translateX(-100%);
    }
}

/* Desktop & Tablet Styles */
@media (min-width: 769px) {
    .updated_text {
        font-size: 3.2rem;
    }

    .heading {
        font-size: 3rem;
        margin: 5rem 0;
    }

    .body {
        font-size: 2.4rem;
        line-height: 5rem;
        text-align: justify;
    }

    .content {
        width: 70%;
    }

    .spacing {
        margin-bottom: 5rem;
    }

    .nav_page.open {
        width: 20vw;
        transform: translateX(0);
    }

    .nav_page.closed {
        width: 0;
        transform: translateX(-100%);
    }
}
