/* Privacy Page Styles */

.privacy_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7.5rem;
}

.nav_icon_container {
    /* Position */
    position: fixed;

    /* Properties */
    z-index: var(--z-index-navbar);
    border-radius: var(--radius);
    width: 4rem;
    height: 4rem;
    cursor: pointer;

    /* Arrangement */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_icon {
    /* Properties */
    color: var(--primary);
    height: 2.5rem;
    width: 2.5rem;
}

.nav_icon_container:hover {
    background-color: var(--accent);
}

.privacy_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    gap: 3rem;
}

.updated_text {
    font-family: var(--primary-font);
    color: var(--highlight);
    font-weight: bold;
    line-height: auto;
    margin: 0;
}

.heading {
    font-family: var(--primary-font);
    color: var(--primary);
    font-weight: bold;
    line-height: auto;
}

.body {
    font-family: var(--primary-font);
    color: var(--primary);
    margin: 0;
}

.body li {
    margin-left: 5rem;
}

/* Mobile Styles */
@media (max-width: 786px) {

    .nav_icon_container {
        opacity: 0.25;
        top: 1rem;
        left: 1rem;
    }

    .updated_text {
        font-size: 1.6rem;
    }

    .heading {
        font-size: 2.8rem;
        margin: 3rem 0;
    }

    .body {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .content {
        width: 90%;
    }

    .spacing {
        margin-bottom: 3rem;
    }
}


/* Desktop & Tablet Styles */
@media (min-width: 786px) {

    .nav_icon_container {
        top: 3rem;
        left: 3rem;
    }

    .updated_text {
        font-size: 3.2rem;
    }

    .heading {
        font-size: 3rem;
        margin: 5rem 0;
    }

    .body {
        font-size: 2.4rem;
        line-height: 5rem;
        text-align: justify;
    }

    .content {
        width: 70%;
    }

    .spacing {
        margin-bottom: 5rem;
    }
}