/* Global Styles */

/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

/* Consistent Styles */
ul {
    margin: 1rem 0rem;
}

ol {
    margin: 1rem 0rem;
}

li {
    margin-left: 2rem;
}

h2 {
    margin: 1rem 0rem;
}

h3 {
    margin: 0.5rem 0rem;
}

/* Colours */
:root {
    /* Main Colours */
    --primary: #0b0b0A;
    --secondary: #FFFFFF;
    --highlight: #CCCCCC;
    --accent: #E6E6E6;
    /* Effects */
    --glass-colour: #00000005;
    /* Functional */
    --danger: #FF0000;
}

/* Fonts */
:root {
    --primary-font: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

/* Properties */
:root {
    /* Border Radius */
    --radius: 5rem;

    /* Glass */
    --glass-blur: 20px;
    --glass-blur-xl: 50px;

    /* Hover Opacity */
    --hover-opacity: 0.6;
}

/* Z Indices */
:root {
    --z-index-overlay: 10000;
    --z-index-navbar: 10000;
    --z-index-behind-navbar: 999;
    --z-index-input: 998;
    --z-index-content: 1;
}