/* Typography Styles */

/* BASE */

.heading {
    font-family: var(--primary-font);
    color: var(--primary);
    font-weight: bold;
    line-height: auto;
}

.sub_heading {
    font-family: var(--primary-font);
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
}

.body {
    font-family: var(--primary-font);
    color: var(--primary);
    line-height: auto;
}

.ai_chat {
    font-family: var(--primary-font);
    color: var(--primary);
    line-height: auto;
    margin: 0;
}

/* MOBILE */

@media (max-width: 786px) {
    .heading {
        font-size: 6rem;
    }
    
    .sub_heading {
        font-size: 3.2rem;
    }
    
    .body {
        font-size: 1.8rem;
        line-height: 5.5rem;
    }

    .ai_chat {
        font-size: 1.6rem;
        line-height: 3rem;
    }
}

/* DESKTOP & TABLET */

@media (min-width: 786px) {
    .heading {
        font-size: 8rem;
    }
    
    .sub_heading {
        font-size: 6rem;
    }
    
    .body {
        font-size: 2.4rem;
        line-height: 5.5rem;
    }

    .ai_chat {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}