/*** About Section Styles ***/

.section_container {
    width: 100%;
    /* background-color: red; */
    height: auto;
    display: flex;
    margin-top: 5%;
}

/* Hero section */

.hero_container {
    width: 100%;
    display: flex; 
    align-items: center;
    /* background-color: purple; */
}

.portrait {
    max-width: 65%;
    height: auto;
    object-fit: contain;
}

/* Bio */
.bio_container {
    height: auto;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    margin-top: 4.8rem;
}

.swe_text {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-weight: bold;
}

.imperial_text {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-style: italic;
}

/* Info */
.info_container {
    height: auto;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.info_text {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    text-align: justify;
    width: 95%;
    margin-top: 0%;
}

/* MOBILE */

@media (max-width: 786px) {
    .info_text {
        font-size: 1.8rem;
        line-height: 5rem;
    }

    .swe_text {
        font-size: 2rem;
    }

    .imperial_text {
        font-size: 2rem;
    }

    .portrait {
        align-self: center;
        margin-bottom: 5rem;
    }

    .hero_container {
        flex-direction: column;
    }

    .bio_container {
        width: 100%;
    }

    .info_container {
        width: 100%;
    }
}

/* DESKTOP & TABLET */

@media (min-width: 786px) {
    .info_text {
        font-size: 3rem;
        line-height: 7.5rem;
    }

    .swe_text {
        font-size: 3.2rem;
    }

    .imperial_text {
        font-size: 3.2rem;
    }

    .hero_container {
        flex-direction: row;
        justify-content: space-between;
    }

    .bio_container {
        width: 45%;
    }

    .info_container {
        width: 45%;
    }
}