/*** About Tech Stack Styles ***/

.tech_list {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    /* Font style */
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-weight: 500;
    line-height: 6.5rem;
}

.tech_heading {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-size: 3.6rem;
    font-weight: bold;
}

.tech_container {
    display: flex;
    justify-content: space-around;
}

.tech_title {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
}

/* MOBILE */

@media (max-width: 786px) {
    .tech_container {
        flex-direction: column;
    }

    .tech_list {
        font-size: 2.5rem;
    }
}

/* DESKTOP & TABLET */

@media (min-width: 786px) {
    .tech_container {
        flex-direction: row;
    }

    .tech_list {
        font-size: 3.2rem;
    }
}