/* Chat Section Styles */
.main_container {
    /* Properties */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    
    /* Arrangement */
    display: flex;
    flex-direction: column;
}

.content_container {
    /* Properties */
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /* Arrangement */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* Scrolling */
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chat_messages{
    /* Arrangement */
    display: flex;
    flex-direction: column;
    gap: 5rem;

    /* Decoration */
    align-self: center;
}

.chat_messages_small {
    /* Properties */
    width: 90%;
    padding: 5rem 1rem 20rem 1rem;
    box-sizing: border-box;

    /* Arrangement */
    align-self: center;
}

/* Mobile */
@media (max-width: 768px) {
    .main_container {
        padding-bottom: 10vh;
    }

    .chat_messages_big {
        width: 90%;
        padding: 1rem 1rem 5rem 1rem;
        box-sizing: border-box;
    }
}

/* Desktop & Tablet */
@media (min-width: 769px) {
    .main_container {
        padding-bottom: 10vh;
    }

    .chat_messages_big {
        width: 70%;
        padding: 5rem 2rem 10rem 2rem;
        box-sizing: border-box;
    }
}