/* Error Message Styles */

.error_container {
    /* Arrangement */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Properties */
    gap: 2rem;
    height: auto;
    width: 70%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2rem;
    /* Glass */
    background-color: var(--glass-colour);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
    box-shadow: inset 0 0 3px 3px var(--glass-colour);

}

.error_text {
    /* Properties */
    font-family: var(--primary-font);
    color: var(--danger);
    font-size: 1.8rem;
}

.error_icon {
    /* Properties */
    width: 3rem;
    height: 3rem;
    color: var(--danger);
}

/* Mobile */
@media (max-width: 786px) {
    .error_container {
        width: 90%;
        padding: 1.5rem;
    }

    .error_text {
        font-size: 1.6rem;
    }

    .error_icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/* Desktop & Tablet */
@media (min-width: 786px) {
    .error_container {
        width: 70%;
        padding: 1rem;
    }

    .error_text {
        font-size: 2rem;
    }

    .error_icon {
        width: 3rem;
        height: 3rem;
    }
}