/*** Racing Section Styles ***/

.pcb {
    cursor: pointer;
}

.pcb_tag {
    font-family: var(--Primary-font);
    color: rgba(15, 10, 1, 0.8);
    font-size: 1.6rem;
    text-align: center;
    z-index: 1;
}