/* Root Module Styles */

/* Base font size */
.html {
    font-size: 10px;
    width: 100%;
}

/* Main body */
.body {
    width: 100%;
    align-self: center;
    padding: 2.5%;
    background-color: var(--Background-color);
}