/* Typography Styles */

/* BASE */

.heading {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-size: 9.6rem;
    font-weight: bold;
}

.sub_heading {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
}

.body {
    font-family: var(--Primary-font);
    color: var(--Active-color);
    font-size: 2.8rem;
}

/* MOBILE */

@media (max-width: 786px) {
    .heading {
        font-size: 6.4rem;
    }
    
    .sub_heading {
        font-size: 3.2rem;
    }
    
    .body {
        font-size: 1.8rem;
    }
}

/* DESKTOP & TABLET */

@media (min-width: 786px) {
    .heading {
        font-size: 9.6rem;
    }
    
    .sub_heading {
        font-size: 5rem;
    }
    
    .body {
        font-size: 2.8rem;
    }
}